<div class="calendar-container">
  @if (sideBySide()) {
    <div class="first-view">
      <mat-calendar id="firstCalendarView" #firstCalendarView [startAt]="firstCalendarViewData.startDate"
        [selected]="selectedDates" (selectedChange)="updateDateRangeSelection($event)"
        (monthSelected)="monthSelected($event)" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
    </div>
    <div class="second-view">
      <mat-calendar id="secondCalendarView" #secondCalendarView [startAt]="secondCalendarViewData.startDate"
        [minDate]="secondCalendarViewData.minDate" [maxDate]="maxDate" [selected]="selectedDates"
        (selectedChange)="updateDateRangeSelection($event)"
        (monthSelected)="secondViewMonthSelected($event)"></mat-calendar>
    </div>
  }
  @else {
    <div class="single-view">
      <mat-calendar id="singleView" #singleView
        [selected]="selectedDates" startView="year" (selectedChange)="updateDateRangeSelection($event)"
        (monthSelected)="onMonthSelected($event)" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
    </div>
  }
</div>
