

<div [formGroup]="formGroup">
  <nex-input id="date-input-field" formControlName="datesInput" nexPrefixIconName="search" nexLabel="Dates" nexPlaceholder="Add Dates" (nexOnFocus)="toggleCustomDateRangeView()"/>    
</div>

<div class="date-picker-main" cdkOverlayOrigin #trigger> 
  <ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isCustomRange" [cdkConnectedOverlayPush]="true"
    [cdkConnectedOverlayOffsetX]="cdkConnectedOverlayOffsetX" [cdkConnectedOverlayOffsetY]="cdkConnectedOverlayOffsetY"
    (backdropClick)="toggleCustomDateRangeView()">
    
    <div class="custom-ckd-container custom-calendar-container" [class]="{'without-default-opt':hideDefaultOptions}">
      <div class="row-1">
        <div class="mt-3 column-3">
          <lib-calendar [selectedDates]="selectedDates" #calendar [minDate]="minDate"
            [maxDate]="maxDate"></lib-calendar>
            <app-custom-moth-picker></app-custom-moth-picker> 
        </div>
      </div>
      <div class="row-2">
        <div class="text-end my-2 w-full">
          <div class="footer-content">
            <!-- <span id="range-label-text">
              {{calendar?.selectedDates?.start | date: 'dd/MM/yyyy'}}
              <span *ngIf="calendar?.selectedDates?.end"> - {{calendar.selectedDates?.end | date: 'dd/MM/yyyy'}} </span>
            </span> -->
            <div class="d-inline buttons">
              <button mat-button mat-raised-button (click)="isCustomRange=false;">Cancel</button>
              <button mat-button mat-raised-button color="primary" [disabled]="!(calendar?.selectedDates?.start && calendar?.selectedDates?.end)"
                (click)="updateCustomRange(calendar.selectedDates); isCustomRange=false;">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
  





